.div-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px 50px;   
}

 img{
    width: 50px;
    position: absolute;
    margin-left: 230px;
}



.cabecera{
    display: flex;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace,;
}

footer{
    
    background-color: aquamarine;
    text-align: center;
    padding: 10px 10px;
}