.div-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px 50px;   
}

 img{
    width: 50px;
    position: absolute;
    margin-right: 350px;
}



.cabecera{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace,;
}

.title{
    display: flex;
    padding: 20px 0;
    width: 60%;
    background-color: blue;
   justify-content: center;
}

footer{
    
    background-color: aquamarine;
    text-align: center;
    padding: 10px 10px;
}